{% extends 'register/index.html' %}
{% load bootstrap5 %}

{% block content %}

<div class="row my-4">
  <div class="col-md-7 m-auto">
    <form class="" action="" method="post">
      <a href="{% url 'App:Home' %}" class="btn btn-outline-secondary my-3">↰Back To Home</a>
      <div class="user text-center my-3">
        <a href="{{ user.userprofile.image.url }}">
          <img src="{{ user.userprofile.image.url }}" class="img-fluid rounded-start" width="150" alt="PROFILE IMAGE">
        </a>
        <h4>{{ user.username }}</h4>
        <small><code>{{user.email}}</code></small>
      </div>
      {% csrf_token %}
      {% bootstrap_form u_profile %}
      {% bootstrap_form u_user %}
      <div class="d-grid gap-2">
        <button class="btn btn-outline-primary btn-sm" type="submit">Update</button>
      </div>
    </form>
  </div>
</div>


{% endblock content %}
